.main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.main__article {
    border: 3px solid #f5f5f5;
    border-radius: 8px;
    width: 70%;
    padding: 20px 25px;
}

.main__h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: Ubuntu, serif;
    border-bottom: 1px solid #fff;
    margin: 16px 0;
}

.room__div {
    padding: 0 8px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.room__div--button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.room__button {
    background-color: #1ca69d;
    border: 0;
    color: #f5f5f5;
    border-radius: 4px;
    padding: 8px 16px;

}

.index__section {
    height: 100vh;
}